.main{
    width: 50%;
    height: 80%;
    position: fixed;
    bottom: 10%;
    top: 10%;
    right: 25%;
    left: 25%;
    background-color: rgb(114, 165, 63);
}
.container{
    background-color: white;
    margin: auto;
    width: 95%;
    height: 70%;
    border-radius: 20px;

    
    
}

.boxes div{
    margin: 50px;
}
.box1 p{
    color: rgb(158, 152, 152);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#click{
    background-color: rgba(80, 80, 214, 0.774);
    width: 60px;
    color: white;
    border-radius: 60px;
}
.l2{
    text-decoration: line-through;
    color: rgb(158, 152, 152);
    background-color: rgb(209, 205, 205);
}

.button1{
       background-color:rgba(80, 80, 214, 0.774) ;
       width: 40%;
       border-radius: 60px;
       color: white;
    
}
.button2{
    background-color: tomato;
    width: 30%;
    border-radius: 60px;
    color: white;
}
.button3{
    background-color: rgb(114, 165, 63);
    width: 27%;
    border-radius: 60px;
    color: white;
}