
body{
    text-align: center;
}
header{
    padding: 3vh 8vw;   
}
h1{
    position: relative;
    font-size: 3.4vw;
}
.head{
    position: relative;
    font-size: 2vw;
}
main{
    display: flex;
    justify-content: space-around;
    grid-column-gap: 6vw;
    margin: 3vh 3vw;
}
.box{
    position: relative;
    display: inline;
    flex: 15vw;
    border: 1px grey solid;
    border-top:peru 5px solid;
    padding: 3vh 3vw;
    box-shadow: -3px 5px 23px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 5px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 5px 23px -5px rgba(0,0,0,0.75);

    
    
    
}
h3{
   
    text-shadow: 1px 5px 6px rgba(85,85,85,0.52);
    font-size: 2vw;
    

}
img{
    width: 10vw;
    height:10vh;
    margin-bottom: 0px;

}
.line{
    border-top:peru 2px solid ;
    width: 5vw;
    margin: auto;
    margin-top: 0px;
}
h3 ,.line , .main{
    margin-bottom: 5vh;
}
.main{
    font-size: 1.5vw;
    font-weight: 400;
    width: 19vw;
    
}

